/node_modules
/IdentityServerArtigo/.vs/IdentityServerArtigo.Admin
/IdentityServerArtigo/src/IdentityServerArtigo.Admin/bin/Debug/netcoreapp2.2
/IdentityServerArtigo/src/IdentityServerArtigo.Admin/Log
/IdentityServerArtigo/src/IdentityServerArtigo.Admin/node_modules
/IdentityServerArtigo/src/IdentityServerArtigo.Admin/obj
/IdentityServerArtigo/src/IdentityServerArtigo.Admin/Properties
/IdentityServerArtigo/src/IdentityServerArtigo.Admin.Api/bin/Debug/netcoreapp2.2
/IdentityServerArtigo/src/IdentityServerArtigo.Admin.Api/obj
/IdentityServerArtigo/src/IdentityServerArtigo.Admin.Api/Properties
/IdentityServerArtigo/src/IdentityServerArtigo.Admin.EntityFramework.Shared/bin/Debug/netstandard2.0
/IdentityServerArtigo/src/IdentityServerArtigo.Admin.EntityFramework.Shared/obj
/IdentityServerArtigo/src/IdentityServerArtigo.STS.Identity/bin/Debug/netcoreapp2.2
/IdentityServerArtigo/src/IdentityServerArtigo.STS.Identity/Log
/IdentityServerArtigo/src/IdentityServerArtigo.STS.Identity/node_modules
/IdentityServerArtigo/src/IdentityServerArtigo.STS.Identity/obj
/IdentityServerArtigo/src/IdentityServerArtigo.STS.Identity/Properties
/IntegracaoIdentityServer/.vs/IntegracaoIdentityServer
/IntegracaoIdentityServer/bin/Debug/netcoreapp2.2/Properties
/IntegracaoIdentityServer/bin/Debug/netcoreapp2.2
/IntegracaoIdentityServer/obj
/IntegracaoIdentityServer/Properties
